html {box-sizing: border-box;}
*, *::before, *::after {box-sizing:inherit;}
 ul{
     padding: 0;
     list-style: none;
 }
 p{
    margin: 0;
}
#container{
    width: 1000px;
    margin: auto;
    
}
.subscribe
{   position: relative;
    left: 532px;
    top: 22px;
    color: white;
    border-left: 6px dotted white;    
      
}

#socialContainer{
    display: flex; 
    color:rgb(117,126,186) ; 
    text-align:center;
    width: 230px;
    justify-content: space-between;
    float: right;
    border-left: 4px dotted white;
    padding-left: 8px;
    height: 35px;
}

.facebook{
    width: 50px;
    height: 50px;
    background: rgb(68,82,156);
    font-size: 25px;
    line-height: 50px;
    border-bottom: 5px solid rgb(124,122,123);
    margin-top: -7px;
}

.rss{
    width: 50px;
    height: 50px;
    background: rgb(212,143,0);
    font-size: 25px;
    line-height: 50px;
    border-bottom: 5px solid rgb(124,122,123);
    margin-top: -7px;
}

.twitter{
    width: 50px;
    height: 50px;
    background: rgb(100,132,198);
    font-size: 25px;
    line-height: 50px;
    border-bottom: 5px solid rgb(124,122,123);
    margin-top: -7px;
}

.youtube{
    width: 50px;
    height: 50px;
    background: rgb(194,41,17);
    font-size: 25px;
    line-height: 50px;
    border-bottom: 5px solid rgb(124,122,123);
    margin-top: -7px;   
}

 .flex-containermenu {
    padding: 20px;
    margin: 8;
    margin-top: 100px;
    list-style: 30px;
    justify-content: space-between;
    float: center; 
    display: div;
    text-align:center;
    color: white;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: flex;

}

    .SK8TNEWS{
      width: 200px;
      height: 30px;
      background: rgb(194,1,26);
      float: center; 
      text-align:center;
      font-size: 15px;
      line-height: 25px;
      border-bottom: 5px solid rgb(124,122,123);
      margin-top: -7px;
}

    .SKATEBOARDERS{
    width: 200px;
    height: 30px;
    background: rgb(194,1,26);
    float: center; 
    text-align:center;
    font-size: 15px;
    line-height: 25px;
    border-bottom: 5px solid rgb(124,122,123);
    margin-top: -7px;
}

    .BOARDESIGN{
    width: 200px;
    height: 30px;
    background: rgb(194,1,26);
    float: center; 
    text-align:center;
    font-size: 15px;
    line-height: 25px;
    border-bottom: 5px solid rgb(124,122,123);
    margin-top: -7px;
}

    .CONTACTUS{
    width: 200px;
    height: 30px;
    background: rgb(194,1,26);
    float: center; 
    text-align:center;
    font-size: 15px;
    line-height: 25px;
    border-bottom: 5px solid rgb(124,122,123);
    margin-top: -7px;
}

.flex-containerlogo{
        position: relative;
        border-style: solid;
        border-color: white;
        background-image: url(assets/top-image.png);
        width: 1000px;
        height: 300px;       
        background-repeat: no-repeat;
        background-position: center top;
        background-position-x: 30%;
        background-position-y: 25%;

} 

.flex-containertex {
    padding: 20px;
    margin: 8;
    margin-top: 100px;
    list-style: 30px;
    justify-content: space-between;
    float: center; 
    display: div;
    text-align:center;
    color: white;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: flex;
}

.nowrap  { 
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

    .tony{
        width: 300px;
        height: 300px;
        background-color: white;
        float: left; 
        text-align:center;
        font-size: 15px;
        line-height: 25px;
        margin-inline-end: 1ch;
}

    .rodney{
        width: 300px;
        height: 300px;
        background-color: white;
        float: center; 
        text-align:center;
        font-size: 15px;
        line-height: 25px;
        margin-inline-end: 1ch;
}

    .ray{
        width: 300px;
        height: 300px;
        background-color: white;
        float: center; 
        text-align:center;
        font-size: 15px;
        line-height: 25px;
        margin-inline-end: 1ch;
}


.flex-container2{
    position: center;
    display: flex;
    text-align:center;
    text-align-last: center
  }

  .wrap{ 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }  


    .LANCE{
        border-style: solid;
        border-color: white;
        background-image: url(assets/sk8er-4.png);   
        background-repeat: no-repeat;
        background-position: center top;
        background-position-x: 100%;
        background-position-y: 0%;
        width: 300px;
        height: 250px;
        margin-top: 25px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 10px;
  
}   

    .RODNEY{
        border-style: solid;
        border-color: white;
        background-image: url(assets/sk8er-3.png);    
        background-repeat: no-repeat;
        background-position: center top;
        background-position-x: 0%;
        background-position-y: 0%;
        width: 300px;
        height: 250px;
        margin-top: 25px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 10px;

}

    .TOMMY{
        border-style: solid;
        border-color: white;
        background-image: url(assets/sk8er-2.png);       
        background-repeat: no-repeat;
        background-position: center center;
        background-position-x: 80%;
        background-position-y: 0%;
        width: 300px;
        height: 450px;
        margin-top: 25px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;

}

    .STEVE{
        border-style: solid;
        border-color: white;
        background-image: url(assets/sk8er-1.png);      
        background-repeat: no-repeat;
        background-position: top top;
        background-position-x: 0%;
        background-position-y: 70%;
        width: 612px;
        height: 190px;
        margin-top: -190px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    
    } 
    
    .flex-container3{
        background:white;
        position:left;
        display: flex;
        margin-top: 25px;        
        margin-bottom: 50px;
        margin-left: -500px;
    }
    
    .wrap{ 
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
      } 
    
    .panda{
          width: 50px;
          height: 50px;

  
    }
  
      .monkey{
        width: 50px;
        height: 50px;



      
  }
      
      .messageboard{
          width: 50px;
          height: 50px;

          
  }
  
    .goodwood{
           width: 50px;
           height: 50px;
 

              
  }
    .hungover{
          width: 50px;
          height: 50px;
 

                  
  }
      
    .shecks{
         width: 50px;
         height: 50px;
 

              
  } 
  
    .jesusfernandez{
      width: 50px;
      height: 50px;


           
  } 
  
  .robdyrdek{
      width: 50px;
      height: 50px;


           
  } 

  .elephant{
    width: 50px;
    height: 50px;


         
} 
  .skull{
      width: 50px;
      height: 50px;


           
  } 